﻿
@{
    ViewBag.Title = "Start";
}

<h2>Reqeust</h2>

@{
    var ApiRoot = Url.Content("~/api/Request");
    var FileApiRoot = Url.Content("~/api/Request/Files");

}

<form action="@ApiRoot" method="post" enctype="multipart/form-data">
    <input type="hidden" name="studId" value="a0001" />
    <input type="hidden" name="studName" value="micchang" />
    <input type="submit" value="表單送出" />
</form>

<h4>Javascript</h4>
<input type="button" value="Get" onclick="getOriginal()" />
<input type="button" value="Post" onclick="postOriginal()" />

<h4>檔案上傳</h4>
<input type="file" id="fileOnly" />
<input type="button" value="FileOnly" onclick="postFileOnly()" />

<h4>多檔上傳</h4>
<input type="file" id="fileOne" />
<input type="file" id="fileTwo" />
<input type="file" id="fileThr" />
<input type="button" value="FileMulti" onclick="postFileMulti()" />

<h4>混合多檔上傳</h4>
<input type="file" id="fileMixedOne" />
<input type="file" id="fileMixedTwo" />
<input type="button" value="Mixed" onclick="postMixed()" />

<h4>Object上傳</h4>
<input type="button" value="Mixed" onclick="postObject()" />


<script type="text/javascript">

    function getOriginal() {
        var data = new FormData(document.querySelector("form"));
        var client = new originalClient();
        client.getApi('@ApiRoot', {
            headers: [
                ["test", "testValue"]
            ],
            data:data,
            success: function (result) {
                alert(result);
            }
        });
    }

    function postOriginal() {
        var data = new FormData(document.querySelector("form"));
        var client = new originalClient();
        client.postApi('@ApiRoot', {
            headers: [
                ["test", "testValue"]
            ],
            data: data ,
            success: function (result) {
                alert(result);
            }
        });
    }

    function postFileOnly() {
        var data = new FormData();
        var fileInput = document.querySelector("#fileOnly");
        data.append("fileOnly", fileInput.files[0]);
        var client = new originalClient();
        client.postApi('@FileApiRoot', {
            headers: [
                ["test", "testValue"]
            ],
            data: data ,
            success: function (result) {
                alert(result);
            }
        });
    }

    function postFileMulti() {

        var data = new FormData();
        data.append("fileOne", document.querySelector("#fileOne").files[0]);
        data.append("fileTwo", document.querySelector("#fileTwo").files[0]);
        data.append("fileThr", document.querySelector("#fileThr").files[0]);
        var client = new originalClient();
        client.postApi('@FileApiRoot', {
            headers: [
                ["test", "testValue"]
            ],
            data: data ,
            success: function (result) {
                alert(result);
            }
        });
    }

    function postMixed() {
        var data = new FormData(document.querySelector("form"));
        data.append("fileMixedOne", document.querySelector("#fileMixedOne").files[0]);
        data.append("fileMixedTwo", document.querySelector("#fileMixedTwo").files[0]);
        var client = new originalClient();
        client.postApi('@FileApiRoot', {
            headers: [
                ["test", "testValue"]
            ],
            data: data ,
            success: function (result) {
                alert(result);
            }
        });
    }

    function postObject()
    {

        var data = new FormData(document.querySelector("form"));
        var client = new originalClient();
        client.postApi('@ApiRoot', {
            headers: [
                ["test", "testValue"]
            ],
            data: { studId:"a0001",studName:"micchang" },
            success: function (result) {
                alert(result);
            }
        });
    }

    function originalClient()
    {
        return {
            getApi: function (url, option) {
                var xhr = new XMLHttpRequest();
                //將Data傳換為Query格式加入url
                url = this.parseUrl(url, option);
                xhr.open("GET", url,false);
                this.appendOption(xhr, option);
                xhr.send(null);
            },
            postApi: function (url, option) {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", url, false);
                this.appendOption(xhr, option);
                xhr.send(option.payload.data);
            },
            //附加設定資料
            appendOption: function (xhr, option) {
                var opt = option;

                //附加Headers
                if (opt.headers)
                    for (var hIdx = 0; hIdx < opt.headers.length; hIdx++) {
                        var header = opt.headers[hIdx];
                        if (!header) continue;
                        if (header.length != 2) continue;
                        xhr.setRequestHeader(header[0], header[1]);
                    }

                option.payload = this.parsePostData(option.data);
                if (option.payload.contentType!="multipart/form-data;")
                    xhr.setRequestHeader("content-type", option.payload.contentType);

                //附加成功事件
                if (opt.success)
                    xhr.success = opt.success;
                //附加失敗事件
                if (opt.failure)
                    xhr.failure = opt.failure;
                //附加完成事件
                if (opt.success || opt.failure)
                    xhr.onload = function () {

                        var result = tryParseResponse(this);

                        if (200 <= this.status && this.status <= 299) {
                            if (opt.success)
                                opt.success(result);
                            else console.log({ status: "success", result:result });
                        } else {
                            if (opt.failure)
                                opt.failure(result);
                            else console.log({ status: "failure", result:result });
                        }

                    };

                //依照 Content-Type 轉換回傳內容
                function tryParseResponse(xhr) {
                    try {
                        var contentType = xhr.getResponseHeader("content-type");
                        var result = null;
                        if (contentType.match(/^application\/json/)) {
                            result = JSON.parse(xhr.responseText);
                        } else if (contentType.match(/^application\/xml/)) {
                            result = xhr.responseXML;
                        } else {
                            result = xhr.responseText;
                        }
                        return result;
                    } catch (e) {
                        console.log(e);
                        return null;
                    }
                }

            },
            parseUrl: function (url, option) {
                if (!option) return url;
                if (!option.data) return url;
                var query = null;
                if (typeof option.data == "string")
                    query = option.data;
                if (typeof option.data == "object")
                    query = this.tryParseFormDataQuery(option.data);
                var targetUrl = url;
                if (query == null) return targetUrl;
                if (!targetUrl.indexOf("?"))
                    query = "&" + query;
                else query = "?" + query;
                return targetUrl + query;

            },
            tryParseFormDataQuery: function (data) {
                try {
                    var encodePairs = [];
                    for (var pair of data.entries()) {
                        if (pair[1].__proto__ === File.prototype) continue;
                        encodePairs.push(encodeURIComponent(pair[0]) + '=' + encodeURIComponent(pair[1]));
                    }
                    return encodePairs.join("&").replace(/%20/g, '+');
                } catch (e) {

                }
            },
            parsePostData: function (data) {
                if (typeof data === "string")
                    return {
                        contentType: "application/x-www-form-urlencoded",
                        data: data
                    };
                if (data.__proto__ === FormData.prototype) {
                    for (var pair of data.entries()) {
                        if (pair[1].__proto__ === File.prototype) {
                            return {
                                contentType: "multipart/form-data;",
                                data: data
                            };
                        }
                    }
                    return {
                        contentType: "application/x-www-form-urlencoded",
                        data: this.tryParseFormDataQuery(data)
                    };
                }
                if (typeof data === "object")
                    return {
                        contentType: "application/json",
                        data: JSON.stringify(data)
                    };
                return null;
            }
        };
    }

</script>