﻿<template>
    <v-app>
        <sidebar app></sidebar>
        <v-toolbar app></v-toolbar>
        <v-content>
            <v-container fluid>
                <router-view></router-view>
            </v-container>
        </v-content>
        <v-footer app></v-footer>
    </v-app>
</template>
<style>

</style>
<script>
    import router from 'clientapp/router'
    import store from 'clientapp/stores/initail'
    import sidebar from 'clientapp/components/sidebar/sidebar'
    export default {
        router,
        store,
        components: {
            "sidebar": sidebar
        }
    }
</script>