<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="dist/contents/appicon.png" rel="SHORTCUT ICON">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link href="dist/css/main.css" rel="stylesheet">
</head>
<body>
    <div id="app"></div>

    <script type="text/javascript" src="dist/vendor.js"></script>
    <script type="text/javascript" src="dist/main.js"></script>
</body>
</html>