﻿
@{
    ViewBag.Title = "Start";
}
<div class="row" id="group" style="margin-top:20px;">

    <p id="menu_panel">
        <button class="btn btn-primary" type="button" id="setListService" data-toggle="collapse" data-parent="#colparent" data-target="#setService" aria-expanded="false" aria-controls="#setService #listService #uploadFile">
            服務設定
        </button>
        <button class="btn btn-primary" type="button" id="btnListService" data-toggle="collapse" data-parent="#colparent" data-target="#listService" aria-expanded="false" aria-controls="#listService" @@click="reloadServ">
            服務清單
        </button>
        <button class="btn btn-primary" type="button" id="btnUploadFile" data-toggle="collapse" data-parent="#colparent" data-target="#uploadFile" aria-expanded="false" aria-controls="#uploadFile">
            上傳檔案
        </button>
        <button class="btn btn-primary" type="button" id="btnListFile" data-toggle="collapse" data-parent="#colparent" data-target="#listFile" aria-expanded="false" aria-controls="#listFile">
            檔案清單
        </button>
    </p>


    <div class="collapse" id="setService">
        <div class="card card-body">
            <div id="apply_panel">
                <form>
                    <div class="form-group">
                        <label for="emailAccount">帳號</label>
                        <input type="email" class="form-control" id="emailAccount" aria-describedby="emailHelp" placeholder="Google Email" v-model="account">
                        <small id="emailHelp" class="form-text text-muted">服務申請人</small>
                    </div>
                    <div class="form-group">
                        <label for="serviceCode">代碼</label>
                        <input type="text" class="form-control" id="serviceCode" aria-describedby="codeHelp" placeholder="任意英文代碼(不含符號)" v-model="code">
                        <small id="codeHelp" class="form-text text-muted">服務申請(目錄名稱)</small>
                    </div>
                    <div class="form-group">
                        <label for="serviceMemo">備註</label>
                        <input type="text" class="form-control" id="serviceMemo" aria-describedby="memoHelp" placeholder="任意備註訊息" v-model="memo">
                        <small id="memoHelp" class="form-text text-muted">服務備註</small>
                    </div>
                    <div class="form-group">
                        <label for="proxy">服務代理</label>
                        <input type="text" class="form-control" id="proxy" aria-describedby="proxyHelp" placeholder="File Proxy" readonly value="ServiceAccountAtGoogleDriveProxy" v-model="proxy">
                        <small id="proxyHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group pull-left">
                        <button type="submit" class="btn btn-primary" v-on:click="create(this)">加入</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="collapse" id="listService">
        <div class="card card-body">
            <table id="service_list" class="table">
                <thead>
                    <tr>
                        <th>編號</th>
                        <th>代號</th>
                        <th>備註</th>
                        <th>申請人</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="service in services">
                        <td>{{ service.Id }}</td>
                        <td>{{ service.Code }}</td>
                        <td>{{ service.Memo }}</td>
                        <td>{{ service.Owner }}</td>
                        <td><button type="button" class="btn btn-danger" @@click="delete(service)">刪除</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="collapse" id="uploadFile">
        <div class="card card-body">
            <div id="upload_panel">
                <select v-model="selected" @@change="select(selected)" class="form-control form-control-lg">
                    <option v-for="service in services" v-bind:value="service.Code">{{service.Code}}</option>
                </select>
                <div id="upload_zone" class="row hide">

                    <main role="main" class="container">
                        <h1>jQuery Ajax File Uploader Widget</h1>
                        <p class="lead mb-4">
                            A very lightweight Plugin for file uploading using ajax(async) and includes support for queues, progress tracking and drag and drop.
                            This page demostrates the default basic setup/config.
                        </p>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">

                                <!-- Our markup, the important part here! -->
                                <div id="drag-and-drop-zone" class="dm-uploader p-5">
                                    <h3 class="mb-5 mt-5 text-muted">Drag &amp; drop files here</h3>
                                    <div class="btn btn-primary btn-block mb-5">
                                        <span>Open the file Browser</span>
                                        <input type="file" title='Click to add Files' />
                                    </div>
                                </div>
                                <!-- /uploader -->
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="card h-100">
                                    <div class="card-header">
                                        File List
                                    </div>
                                    <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                                        <li class="text-muted text-center empty">No files uploaded.</li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- /file list -->
                        <div class="alert alert-info" role="alert">
                            More setup demos on: <a href="https://danielmg.org/demo/java-script/uploader/basic">https://danielmg.org/demo/java-script/uploader/basic</a>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card h-100">
                                    <div class="card-header">
                                        Debug Messages
                                    </div>
                                    <ul class="list-group list-group-flush" id="debug">
                                        <li class="list-group-item text-muted empty">Loading plugin....</li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- /debug -->
                    </main> <!-- /container -->
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="listFile">
        <div class="card card-body">
            <div id="file_list">

                <select v-model="selected" @@change="select(selected)" class="form-control form-control-lg">
                    <option v-for="service in services" v-bind:value="service.Code">{{service.Code}}</option>
                </select>
                <table id="list_zone" class="table hide">
                    <thead>
                        <tr>
                            <th>檔案名稱</th>
                            <th>MimeType</th>
                            <th>Id</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="file in files">
                            <td>{{ file.Name }}</td>
                            <td>{{ file.MimeType }}</td>
                            <td>{{ file.Id }}</td>
                            <td><button type="button" class="btn btn-primary" v-on:click="openResource(file)">瀏覽</button> &nbsp;&nbsp; <button type="button" class="btn btn-danger" v-on:click="deleteResource(file)">刪除</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>



<!-- File item template -->
<script type="text/html" id="files-template">
    <li class="media">
        <div class="media-body mb-1">
            <p class="mb-2">
                <strong>%%filename%%</strong> - Status: <span class="text-muted">Waiting</span>
            </p>
            <div class="progress mb-2">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                     role="progressbar"
                     style="width: 0%"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <hr class="mt-1 mb-1" />
        </div>
    </li>
</script>
<!-- Debug item template -->
<script type="text/html" id="debug-template">
    <li class="list-group-item text-%%color%%"><strong>%%date%%</strong>: %%message%%</li>
</script>

@section scripts{
    <script src="~/Scripts/jquery.dm-uploader.min.js"></script>
    <script src="~/Scripts/demo-ui.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/vue-resource.js"></script>
    <script type="text/javascript">
    $(function () {
        var menu = new Vue({
            el: "#menu_panel",
            methods: {
                reloadServ: function () { serv.reload(); },
                switchTo: function (id) { $("#"+id).click(); },
            },
        });


        var apply = new Vue({
            el: "#apply_panel",
            data: {
                account: "",
                code: "",
                memo: "",
                proxy:""
            },
            methods: {
                create: function (obj) {
                    $.post("@Url.Content("~/api/services")", {
                        Code: obj.code,
                        Proxy: obj.proxy,
                        Memo: obj.memo,
                        Owner: obj.account,
                    })
                        .done(function () {
                            menu.switchTo("btnListService");
                        })
                        .fail(function () {
                            alert("新增失敗");
                        });
                }
            }
        });

        var serv = new Vue({
            el: "#service_list" ,
            data: {
                serviceId: 2,
                services :[]
            },
            ready: function () {
                this.reload();
            },
            methods: {
                reload: function () {
                    var result;
                    $.get("@Url.Content("~/api/services")").done(function (resp) {
                        serv.services = resp;
                        upload.reloadService(resp);
                        file.reloadService(resp);
                        file.reloadFiles();
                        result = resp;
                    });
                    return result;
                },
                delete: function (service) {

                    $.ajax({
                        url: "@Url.Content("~/api/services/")" + service.Code ,
                        type: 'DELETE'
                    }).done(function (resp) {

                    });
                }
            }
        });

        var upload = new Vue({
            el: "#upload_panel",
            data: {
                services: [],
                selected:"",
            },
            ready: function () {

            },
            methods: {
                reloadService: function (resp) {
                    upload.services = resp;
                },
                select: function (selected) {
                    $("#upload_zone").removeClass("hide");
                    this.upload(selected);
                },
                upload: function (Code) {
                    var url = '@Url.Content("~/api/services/")' + Code + "/files";
                    $('#drag-and-drop-zone').dmUploader({ //
                        url: url,
                        maxFileSize: 3000000, // 3 Megs
                        onDragEnter: function () {
                            // Happens when dragging something over the DnD area
                            this.addClass('active');
                        },
                        onDragLeave: function () {
                            // Happens when dragging something OUT of the DnD area
                            this.removeClass('active');
                        },
                        onInit: function () {
                            // Plugin is ready to use
                            ui_add_log('Penguin initialized :)', 'info');
                        },
                        onComplete: function () {
                            // All files in the queue are processed (success or error)
                            ui_add_log('All pending tranfers finished');
                        },
                        onNewFile: function (id, file) {
                            // When a new file is added using the file selector or the DnD area
                            ui_add_log('New file added #' + id);
                            ui_multi_add_file(id, file);
                        },
                        onBeforeUpload: function (id) {
                            // about tho start uploading a file
                            ui_add_log('Starting the upload of #' + id);
                            ui_multi_update_file_status(id, 'uploading', 'Uploading...');
                            ui_multi_update_file_progress(id, 0, '', true);
                        },
                        onUploadCanceled: function (id) {
                            // Happens when a file is directly canceled by the user.
                            ui_multi_update_file_status(id, 'warning', 'Canceled by User');
                            ui_multi_update_file_progress(id, 0, 'warning', false);
                        },
                        onUploadProgress: function (id, percent) {
                            // Updating file progress
                            ui_multi_update_file_progress(id, percent);
                        },
                        onUploadSuccess: function (id, data) {
                            // A file was successfully uploaded
                            ui_add_log('Server Response for file #' + id + ': ' + JSON.stringify(data));
                            ui_add_log('Upload of file #' + id + ' COMPLETED', 'success');
                            ui_multi_update_file_status(id, 'success', 'Upload Complete');
                            ui_multi_update_file_progress(id, 100, 'success', false);
                        },
                        onUploadError: function (id, xhr, status, message) {
                            ui_multi_update_file_status(id, 'danger', xhr.responseJSON.ExceptionMessage);
                            ui_multi_update_file_progress(id, 0, 'danger', false);
                        },
                        onFallbackMode: function () {
                            // When the browser doesn't support this plugin :(
                            ui_add_log('Plugin cant be used here, running Fallback callback', 'danger');
                        },
                        onFileSizeError: function (file) {
                            ui_add_log('File \'' + file.name + '\' cannot be added: size excess limit', 'danger');
                        }
                    });
                }
            }
        });

        var file = new Vue({
            el: "#file_list",
            data: {
                files:[],
                services: [],
                selected: "",
            },
            ready: function () {

            },
            methods: {
                reloadService: function (resp) {
                    file.services = resp;
                },
                reloadFiles: function (code) {
                    if (!code) return;
                    var url = '@Url.Content("~/api/services/")' + file.selected + "/files";
                    $.get(url).done(function (resp) {
                        file.files = resp;
                    });
                },
                openResource: function (content) {
                    var url = '@Url.Content("~/api/services/")' + file.selected + "/files/" + content.Id;
                    window.open(url);
                },
                select: function (selected) {
                    this.reloadFiles(selected);
                    $("#list_zone").removeClass("hide");
                },
                deleteResource: function (content) {
                    var url = '@Url.Content("~/api/services/")' + file.selected + "/files/" + content.Id;
                    $.ajax({
                        url: url,
                        type: 'delete',
                        success: function (result) {
                            file.reloadFiles(file.selected);
                        }
                    });
                }
            }
        });

        var $myGroup = $('#group');
        $myGroup.on('show.bs.collapse', function () {
            $myGroup.children('.in').collapse('hide');
        });
    });
    </script>

}