﻿
@{
    ViewBag.Title = "Test";
}

<!DOCTYPE html>
<html>
<head>     
    <link href="~/Content/styless.css" rel="stylesheet" type="text/css" />
   
</head>
<body>
    <div class="container" id="tset">      
            <div class="aaa">  
                <div id="drag-and-drop-zone" class="dm-uploader p-5 text-center">
                    <h3 class="mb-5 mt-5 text-muted">Drag &amp; drop Images here</h3>

                    <div class="btn btn-primary btn-block mb-5">
                        <span>Open the file Browser</span>
                        <input type="file" title="Click to add Files" multiple="">
                    </div>
                </div>
            </div>
            <div class="bbb">
                <div class="card h-100">
                    <div class="card-header">
                        上傳檔案
                    </div>
                    <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                        <li class="text-muted text-center empty">No files uploaded.</li>
                    </ul>
                </div>
            </div>
        </div>
        
       
    
    @section scripts{
        <script src="~/Scripts/jquery.dm-uploader.min.js"></script>
        <script src="~/Scripts/demo-ui.js"></script>
        <script src="~/Scripts/UpLoad.js"></script>
        <script type="text/javascript">
            $(function () {
                var url = '/api/services/' + "a0001" + "/files";
                var id = 'test';
                upload(id, url);

            });
        </script>
        <script type="text/html" id="files-template">
            <li class="media">
                <div class="media-body mb-1">
                    <p class="mb-2">
                        <strong>%%filename%%</strong> - Status: <span class="text-muted">Waiting</span>
                    </p>
                    <div class="progress mb-2">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                             role="progressbar"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <hr class="mt-1 mb-1" />
                </div>
            </li>
        </script>
    }
</body>



   


</html>
