﻿
@{
    ViewBag.Title = "Test2";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Styles2.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="test"></div>

    @section scripts{
        <script src="~/Scripts/jquery.dm-uploader.min.js"></script>
        <script src="~/Scripts/demo-ui.js"></script>
        <script src="~/Scripts/UpLoad.js"></script>
        <script type="text/javascript">
            $(function () {
                var option = {
                    templateUrl: "../Content/fileupload-template.html", 
                    uploadUrl: "/api/services/" + "a0002" + "/files",
                    el:"test",
                }
                upload(option);
                //var url = '/api/services/' + "a0002" + "/files";
                //var id = 'test';
                //upload(id, url);
            });               
        </script>
       
    }
</body>

    

</html>

