﻿
@{
    ViewBag.Title = "CallBack";
}

<style type="text/css">
    .header {
        width: 150px;
        display: inline-block;
        max-width: unset;
    }

    .input {
        width: 600px;
        max-width: unset;
    }
</style>

@{
    var ExchangeEndpoint = $"http://localhost:63293{Url.Action("Exchange")}";
    var TokenEndpoint = "https://www.googleapis.com/oauth2/v4/token";
    var ClientId = Constants.ClientId;
    var ClientSecret = Constants.ClientSecret;
    var Code = Request["code"];
    var State = Request["state"];
    var Scope = Request["scope"];
    var GrandType = "authorization_code";
    var RedirectUrl = $"http://localhost:63293{Url.Action("CallBack").ToLower()}";
}

Code : @Code <br />
State : @State <br />
Scope : @Scope <br />

<form action="@ExchangeEndpoint" method="post">
    <span class="header">Url :</span> @ExchangeEndpoint <br />
    <span class="header">code :</span> <input class="input" type="text" name="code" value="@Code" /><br />
    <span class="header">state :</span> <input class="input" type="text" name="state" value="@State" /><br />
    <span class="header">scope :</span> <input class="input" type="text" name="scope" value="@Scope" /><br />
    <input type="submit" value="Actual Exchange" />
</form>


<form action="@TokenEndpoint" method="post" target="_blank">
    <span class="header">Url :</span> @TokenEndpoint <br />
    <span class="header">code :</span> <input class="input" type="text" name="code" value="@Code" /><br />
    <span class="header">client_id :</span> <input class="input" type="text" name="client_id" value="@ClientId" /><br />
    <span class="header">client_secret :</span> <input class="input" type="text" name="client_secret" value="@ClientSecret" /><br />
    <span class="header">redirect_uri :</span> <input class="input" type="text" name="redirect_uri" value="@RedirectUrl" /><br />
    <span class="header">grant_type :</span> <input class="input" type="text" name="grant_type" value="@GrandType" /><br />
    <input type="submit" value="Demo Exchange" />
</form>


