﻿@model IdCodeDisplay
@{
    ViewBag.Title = "Exchange";
}

<style type="text/css">
    .header {
        width: 150px;
        display: inline-block;
        max-width: unset;
    }

    .input {
        width: 600px;
        max-width: unset;
    }
</style>
<h2>Exchange</h2>

<pre>
<code>@Model.ResponseContent</code>
</pre>


@{
    var ExchangeEndpoint = $"http://localhost:63293{Url.Action("IdTokenInfo")}";
    var TokenEndpoint = "https://www.googleapis.com/oauth2/v3/tokeninfo";
    var ClientId = Constants.ClientId;
    var ClientSecret = Constants.ClientSecret;
}

<form action="@ExchangeEndpoint" method="post">
    <span class="header">Url :</span> @ExchangeEndpoint <br />
    <span class="header">id_token :</span> <input class="input" type="text" name="id_token" value="@Model.IdCode.id_token" /><br />
    <input type="submit" value="Actual Exchange" />
</form>


<form action="@TokenEndpoint" method="get" target="_blank">
    <span class="header">Url :</span> @TokenEndpoint <br />
    <span class="header">id_token :</span> <input class="input" type="text" name="id_token" value="@Model.IdCode.id_token" /><br />
    <input type="submit" value="Demo Exchange" />
</form>

