﻿@model IdTokenDisplay
@{
    ViewBag.Title = "IdTokenInfo";
}


<style type="text/css">
    .header {
        width: 150px;
        display: inline-block;
        max-width: unset;
    }

    .input {
        width: 600px;
        max-width: unset;
    }
</style>
<h2>IdTokenInfo</h2>

<pre>
<code>@Model.ResponseContent</code>
</pre>



