﻿
@{
    ViewBag.Title = "Start";
}

<a href="@Url.Content("~/api/StatusCode/Success")" target="_blank">Success ( 200 ) </a>：回應成功<br />
<a href="@Url.Content("~/api/StatusCode/Moved")" target="_blank">Moved ( 301 ) </a>：永久移除<br />
<a href="@Url.Content("~/api/StatusCode/MovedPermanently")" target="_blank">MovedPermanently ( 301 ) </a>：永久導向<br />
<a href="@Url.Content("~/api/StatusCode/Found")" target="_blank">Found ( 302 )</a>：臨時導向<br />
<a href="@Url.Content("~/api/StatusCode/Unauthorized")" target="_blank">Unauthorized ( 401 ) </a>：授權錯誤<br />
<a href="@Url.Content("~/api/StatusCode/Forbidden")" target="_blank">Forbidden ( 403 ) </a>：身分驗證錯誤<br />
<a href="@Url.Content("~/api/StatusCode/NotFound")" target="_blank">NotFound ( 404 ) </a>：資源位置錯誤<br />

