﻿body {
    padding-bottom: 200px;
    padding-top: 80px;
}

#drag-and-drop-zone {
    border: 0.25rem dashed #A5A5C7;
    
}

.mb-5 mt-5 text-muted {
    color: #868e96 !important;
}

.btn btn-primary btn-block mb-5 {
    margin-bottom: 3rem !important;
}

.col-md-6 col-sm-12 card h-100 {
    height: 100% !important;
    position: relative;
    display: flex;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

#files {
    min-height: 50px;
    overflow-y: scroll !important;
}

.progress-bar progress-bar-striped progress-bar-animated bg-primary {
    width: 0%
}

.aaa {
    width: 600px;
    height: 100px;  
    margin-bottom: 50px;
}


.bbb {
    width: 600px;
    height: 100px;
   
}
/*.container {
    display: flex;
   
}
.ccc {
    width: 600px;
    height: 100px;   
    margin-right: 20px;
}
.ddd {
    width: 600px;
    height: 100px;

}*/