﻿.panel-body {
    height: auto;
}

.upload-dropzone {
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: visibility 175ms, opacity 175ms, display 180ms;
    text-shadow: 1px 1px 2px #000;
    color: #fff;
    background: rgba(0, 0, 0, 0.45);
    font: bold 42px Oswald, DejaVu Sans, Tahoma, sans-serif;
}

.textnode {
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    transition: font-size 175ms;
}

.file-container {
    border-style: dashed;
    border-color: lightgray;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.dropPanel {
}

.file-info {
    margin-bottom: 10px;
    text-align: left;
}

    .file-info:hover {
        background-color: #d9ebfc;
    }

.file-info-title {
    display: inline-block;
    text-align: left;
    width: 49%;
}

.file-info-operator {
    display: inline-block;
    text-align: right;
    width: 49%;
}

.file-name {
    margin-left: 10px;
    font-size: 12px;
}

.file-delete {
    color: #C63300;
    font-size: 12px;
}

    .file-delete:hover {
        font-size: 16px;
    }

.file-view {
    color: #0088A8;
    font-size: 12px;
    margin-right: 10px;
}

    .file-view:hover {
        font-size: 16px;
        margin-right: 10px;
    }

.file-state {
    font-size: 12px;
    margin-left: 10px;
}

.file-formdata {
    display: none;
}

.file-selector {
    display: none;
}

.select-panel {
    width: 100%;
    margin-bottom: 10px;
}

.upload-dropzone {
    text-align: center;
    margin: auto;
    max-height:40px;
}

.action-tip {
    display: inline-block;
    padding: 10px;
}

.file-state-uploading {
    color: blue;
}

.file-state-checked {
    color: green;
}

.file-state-error {
    color: red;
}

.file-message {
    font-size: 12px;
    margin-left: 10px;
}
