<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="dist/contents/appicon.png" rel="SHORTCUT ICON">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link href="dist/css/main.css" rel="stylesheet">
</head>
<body>
    <div id="app"></div>

    <script type="text/javascript" src="dist/vendor.js"></script>
    <script type="text/javascript" src="dist/main.js"></script>
</body>
</html>