﻿<template>
    <div id="app" class="app">
        <router-view></router-view>
    </div>
</template>
<style>
    .app {
        width: 100%;
        height: 100%;
    }
</style>
<script>
    import router from 'clientapp/router'
    import store from 'clientapp/stores/initail'
    import { mapActions, mapGetters } from 'vuex'

    export default {
        el: '#app',
        date: function () {
            return {
                token,
                refresh,
            };
        },
        router,
        store,
        created: function () {
        },
        computed: {
            ...mapGetters(['getUserId']),
        },
        methods: {
            ...mapActions(['signIn']),

        },
    }

</script>