﻿
@{
    ViewBag.Title = "Start";
    var ContentTypeApi = Url.Content("~/api/response/content_type");
    var RefreshApi = Url.Content("~/api/response/refresh");
    var LocationApi = Url.Content("~/api/response/location");
}
<h4>Content-Type</h4>
<a href="@(ContentTypeApi+"?type=xml")" target="_blank">ContentType=Xml</a><br />
<a href="@(ContentTypeApi+"?type=html")" target="_blank">ContentType=Html</a><br />
<a href="@(ContentTypeApi+"?type=xls")" target="_blank">ContentType=xls</a><br />


<h4>Headers</h4>
<a href="@(RefreshApi+"?isRedirect=true")" target="_blank">Refresh</a><br />


<h4>Location</h4>
<a href="@(LocationApi)" target="_blank">Location</a><br />
