﻿
@{
    ViewBag.Title = "Start";
}
<style type="text/css">
    .header {
        width:150px;
        display:inline-block;
        max-width:unset;
    }
    .input {
        width: 600px;
        max-width: unset;
    }
</style>
@{ 
    var AuthEndpoint = "https://accounts.google.com/o/oauth2/v2/auth";
    var ClientId = Constants.ClientId;
    var ResponseType = "code";
    var Scope = "profile email";
    var RedirectUrl = $"http://localhost:63293{Url.Action("CallBack").ToLower()}";
    var State = Server.UrlEncode(Guid.NewGuid().ToString());
    var AccessType = "offline";
}

<form action="@AuthEndpoint" method="get">
    <div class="header">Url :</div> @AuthEndpoint <br />
    <div class="header">client_id :</div> <input class="input" type="text" name="client_id" value="@ClientId" /><br />
    <div class="header">response_type :</div> <input class="input" type="text" name="response_type" value="@ResponseType" /><br />
    <div class="header">scope :</div> <input class="input" type="text" name="scope" value="@Scope" /><br />
    <div class="header">redirect_uri :</div> <input class="input" type="text" name="redirect_uri" value="@RedirectUrl" /><br />
    <div class="header">state :</div> <input class="input" type="text" name="state" value="@State" /><br />
    <span class="header">access_type :</span> <input class="" type="checkbox" name="access_type" value="@AccessType" />access_type=@AccessType<br />
    <input type="submit" name="提交 Google" />
</form>
